{% extends 'base.html' %}

{% load django_bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

{% block content %}
<div class="row justify-content-center">
<div class="col-md-4 text-center">
    <h1 class="text-danger"> Стоимость торта - {{ cake_price }}</h1>
    <h3 class="text-danger">Если доставка в ближайшие 24 часа, то стоимость заказа будет на 20% больше. </h3>
    <form action="{% url 'index' %}">
        <div  class="page-header" id="contact">
            {% bootstrap_button button_type="submit" content="Выбрать торт заново" %}
        </div>
    </form>
    {% if not user.is_authenticated %}
        <h1 class="text-danger">Чтобы сделать заказ зарегистрируйтесь или войдите</h1>
         <form action="{% url 'signup' %}" >
            <button type="submit" class="btn btn-info">Регистрация</button>
        </form>

        <form action="{% url 'login' %}" >
            <button type="submit" class="btn btn-info">Вход</button>
        </form>
    {% else %}
    {% bootstrap_messages %}
        <h1 class="text-danger text-center">Дополнительная информация</h1>
        <form action="{% url 'confirm' %}" method="post">
            {% csrf_token %}
            {% bootstrap_form form %}
            {% bootstrap_button button_type="submit" content="Подтвердить" %}
        </form>
    {% endif %}
</div>
</div>
{% endblock %}