{% extends 'base.html' %}

{% load django_bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% block datepicker %}
     <!-- jQuery -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>

  <!-- XDSoft DateTimePicker -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.min.css" integrity="sha256-DOS9W6NR+NFe1fUhEE0PGKY/fubbUCnOfTje2JMDw3Y=" crossorigin="anonymous" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js" integrity="sha256-FEqEelWI3WouFOo2VWP/uJfs1y8KJ++FLh2Lbqc8SJk=" crossorigin="anonymous"></script>

{% endblock %}

{% block content %}
<div class="row justify-content-center">
<div class="col-md-4 text-center">
    <h1 class="text-danger" align="left"> Стоимость торта - {{ cake_price }}</h1>
    <h3 class="text-dark" align="left">Если доставка в ближайшие 24 часа, то стоимость заказа будет на 20% больше. </h3>
    <form action="{% url 'index' %}">
        <div  class="page-header" id="contact" align="left">
            {% bootstrap_button button_type="submit" content="Выбрать торт заново" %}
        </div>
    </form>
<br>
<br>
<br>
<br>

    {% if not user.is_authenticated %}
        <h1 class="text-danger" align="left">Для заказа зарегистрируйтесь или войдите</h1>
            <br>
            <br>
            <div class="row" align="left">
                <div class="col text-dark">
                    <form action="{% url 'signup' %}" >
                    {% bootstrap_button button_type="submit" content="Регистрация" %}
                    </form>
                </div>

                <div class="col text-dark">
                     <form action="{% url 'login' %}" >
                     {% bootstrap_button button_type="submit" content="Вход" %}
                     </form>
                </div>
            </div>

    {% else %}
    {% bootstrap_messages %}
        <h1 class="text-danger text-center">Дополнительная информация</h1>
        <form action="{% url 'confirm' %}" method="post">
            {% csrf_token %}
            <div class="row g-3 justify-content-center">
                <div class="col-md-auto">
                <div class="mb-3">
                    <h4 class="text-dark" align="left">{{ form.delivery_time.label }}</h4>
                    {% if form.errors %}
                    {{ form.delivery_time.errors }}
                    {{ form.delivery_time }}
                    {% else %}
                    {{ form.delivery_time }}
                    {% endif %}
                </div>
                    <script>
                      $(function () {
                        $("#id_delivery_time").datetimepicker({
                          format: 'd/m/Y H:i',
                          lang:'ru'
                        });
                      });
                    </script>
                <div class="mb-3">
                    <h4 class="text-dark" align="left">{{ form.address.label }}</h4>
                    {{ form.address }}
                </div>
                <div class="mb-3">
                    <h4 class="text-dark" align="left">{{ form.order_comment.label }}</h4>
                    {{ form.order_comment }}
                </div>
                <div class="mb-3">
                    <h4 class="text-dark" align="left">{{ form.promo.label }}</h4>
                    {{ form.promo }}
                </div>
                <input class="button btn-primary" type="submit" value="Подтвердить">
            </div>
            </div>
        </form>
    {% endif %}
</div>
</div>

{% endblock %}
{% block bottom_js %}
{% endblock %}
