{% extends 'base.html' %}
{% block content %}
<div class="row d-flex justify-content-center align-items-center">
    <div class="col-md-3 text-center">
        <h4>Стоимость торта - {{ cake_price }}</h4>
        <h4>Наценка за срочный заказ - {{ surcharge }}</h4>
        <h4>Скидка за промокод {{ promo_value }}% - {{ discount_value }}</h4>
        <h3>Общая стоимость заказа - {{ total_cake_price}}
        <h1> Ваш заказ принят </h1>
        <div class="btn-group" role="group">
            <form action="{% url 'index' %}">
                <div  class="page-header" id="contact">
                    <button type="submit" class="btn btn-info">Перейти на главную</button>
                </div>
            </form>
        </div>
        <div class="btn-group" role="group">
            <form action="{% url 'account' %}">
                <div  class="page-header" id="contact">
                    <button type="submit" class="btn btn-info">Перейти в личный кабинет</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}