<footer id="footer" class="clearfix fixed-bottom">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <p>
                    <a class="fa fa-twitter footer-socialicon" target="_blank" href="https://twitter.com/"></a>
                    <a class="fa fa-facebook footer-socialicon" target="_blank" href="https://www.facebook.com/"></a>
                    <a class="fa fa-google-plus footer-socialicon" target="_blank" href="https://plus.google.com/"></a>
                    <a class="fa fa-linkedin footer-socialicon" target="_blank" href="https://instagram.com/"></a>
                </p>
            </div>
        </div>
    </div>
</footer>