{% load static %}

  <nav class="navbar navbar-expand-md navbar-light bg-light navbar-fixed-top">
    <div class="container">
      	<button class="navbar-toggler" type="button" data-bs-toggle="collapse" 
          data-bs-target="#navmenu">
          <span class="navbar-toggler-icon"></span>
      </button>
  			<a href="{% url 'index' %}" title="BakeCake">
            <img class="img-responsive" src="{% static 'images/logo.png' %}" alt="BakeCake"/>
        </a>

      <div class="collapse navbar-collapse" id="navmenu">
        {% if user.is_authenticated %}
          <ul class="navbar-nav navbar-right">
            <li class="nav-item">
              <a href="#" class="nav-link">
                  Личный кабинет
              </a>
            </li>
            <li class="nav-item">
              <a href="{% url 'logout' %}" class="nav-link">
                  Выход
              </a>
            </li>
          </ul>
        {% else %}
          <ul class="navbar-nav navbar-right">
            <li class="nav-item">
              <a href="{% url 'login' %}" class="nav-link">
                  Вход
              </a>
            </li>
            <li class="nav-item">
              <a href="{% url 'signup' %}" class="nav-link">
                  Регистрация
              </a>
            </li>
          </ul>
        {% endif %}
    	</div>
  	</div>
	</nav>
{% comment %}
<nav class="navbar navbar-default navbar-fixed-top">
	<div class="container">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a href="{% url 'index' %}" title="BakeCake">
                <img class="img-responsive" src="{% static 'images/logo.png' %}" alt="BakeCake"/>
            </a>
		</div>
		<!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" >
                <ul class="nav navbar-nav navbar-right" >
        {% if user.is_authenticated %}
					<li><a href="#">Личный кабинет</a></li>
					<li><a href="{% url 'logout' %}">Выйти</a></li>
        {% else %}
					<li><a href="{% url 'signup' %}">Регистрация</a></li>
					<li><a href="{% url 'login' %}">Вход</a></li>
        {% endif %}
			    </ul>
		    </div><!-- /.navbar-collapse -->
	</div><!-- /.container-fluid -->
</nav>
{% endcomment %}
